<div class="container" *ngIf='album'>
  <div class="col-md-4 col-sm-5 col-xs-12">
    <div *ngIf ='album.images.length > 0'>
      <img src="{{album.images[0].url}}" alt="" class="img-thumbnail album-art">
    </div>
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12">
    <h3 *ngIf ='album.artists.length > 0'>
      <span *ngFor ='let artist of album.artists'>{{album.name}}</span>
    </h3>
    <h4>Album Type: {{album.album_type}}</h4>
    <h4>Release Date: {{album.release_date}}</h4>
    <a href="{{album.external_urls.spotify}}" class="btn btn-primary" target="_blank">View On Spotify</a>
  </div>
  <hr>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3>Album Track Listing</h3>
    <div *ngFor ='let track of album.tracks.items'>
      <div class="well">
        <h4>{{track.track_number}} - {{track.name}}</h4>
        <a *ngIf='track.preview_url' href="{{track.preview_url}}" target="_blank" class="btn btn-primary">Preview Track</a>
      </div>
    </div>
  </div>
</div>
